<h1>Add a Collection!</h1>

<p>Add collection here:</p>

<form action='/collections' method='post'>
  <label for='name'> Collection Name:</label>
  <input id='name' name='name' type='text'>
  <button type='submit'>Add Collection</button>
</form>
